/*CSS file to handle hover and active pseudo classes, mainly for animations*/

.app-name:hover {

    color: rgb(15, 23, 42);
    background-color: rgba(153, 182, 225, 0.3);

}

.search-box:hover {

    background-color: rgba(153, 182, 225, 0.3);
}

.github-link:hover {

    text-decoration: underline;

    background-color: rgb(15, 23, 42);
    color: white;
}

.current-weather:hover {

    background-color: rgba(153, 182, 225, 0.3);

}

.info-card:hover,
.info-card-2:hover {

    background-color: rgba(153, 182, 225, 0.3);
}

.future-weather:hover {

    background-color: rgba(153, 182, 225, 0.3);

}

.credits:hover {

    background-color: rgba(153, 182, 225, 0.3);
}

.footer-link:hover {
   
    text-decoration: underline;
    color: rgb(15, 23, 42);
}


/* Media query for mobile devices */
@media (max-width: 768px) {

    .logo:hover {
        width: 25px;
    }

    .app-name:hover {
        width: 90px;
        font-size: 15px;
    }

    .github-link:hover {
        width: 50px;
        font-size: 15px;
    }

    .weather-info-main:hover {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }

    .current-weather:hover {
        width: 100%;
    }

    .detailed-info:hover {
        display: block;
        width: 100%;
    }

    .info-card:hover,
    .info-card-2:hover {
        width: 100%;
        margin-bottom: 10px;
    }

    .future-weather:hover {
        width: 100%;
    }
}

/* Media query for tablets */
@media (min-width: 768px) and (max-width: 1075px) {

    .min-max-temp:hover {
        white-space: nowrap; /* Prevent text from wrapping to the next line*/
    }
}